<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Madpac.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
				<key>dateExpires</key>
				<string>29/10/2019</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EasyPeasy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Moya.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Result.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TIFExtensions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TIFNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4209885081F5CDDBAA2838184F99CE85B2109154</string>
						<key>dateExpires</key>
						<string>29/10/2019</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TIFUIElements.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UBPKESEVTV</string>
						<key>name</key>
						<string>BEAST B.V.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UBPKESEVTV.com.zero72.madpac</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UBPKESEVTV</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>UBPKESEVTV.com.zero72.madpac</string>
				</array>
			</dict>
			<key>name</key>
			<string>Madpac.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4b02e3f9-7959-4f6f-8818-4182941bd4f1</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zero72.madpac</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UBPKESEVTV</string>
				<key>name</key>
				<string>BEAST B.V.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
